*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

package-lock.json
localhost-key.pem
localhost.pem
node_modules
_Starter Content

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
gulpfile-original-save.js
.vscode/tasks.json
